@import "tailwindcss";

:root {
  --background: #633C1C;
  --foreground: #F7F3F0;
  --header-bg: oklch(45.6% 0.147 284.1);
  --text-color: #633C1C;
  --btn: rgba(0,0,0,.54);


};
/* html {
  background: var(--foreground)
} */
body {
  background: var(--header-bg) ;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin:  20px 20px 20px 0px;
  
}
