@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #F7F3F0;
  --header-bg: #F2E5DA;
  --text-color: #633C1C;
  --btn: rgba(0,0,0,.54);


};

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}
