@import "tailwindcss";
@import "tw-animate-css";




/* html {
  background: var(--background);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


